<% if mission.errors.any? %>
  <ul>
    <% mission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(mission) do |f| %>
  <%= f.input :title, label: t("title"), input_html: {class: "form-control"} %>
  <%= f.input :content, label: t("content"), input_html: {class: "form-control"} %>
  <%= f.input :tag, label: t("tag"), input_html: {class: "form-control"} %>
  <div class="d-flex align-items-center mb-3">
    <%= f.input :status, label: t("status"), collection: Mission.statuses_i18n, class: "form-control" %>
    <%= f.input :priority, label: t("priority"), collection: Mission.priorities_i18n, class: "form-control" %>
  </div>
  <%= f.input :start_at, label: t("start_at") %>
  <%= f.input :end_at, label: t("end_at") %>
  <%= f.button :submit, class: "btn btn-danger my-3" %>
<% end %>
