<h1>任務列表</h1>

<div>
  <%= link_to "新增任務",  new_mission_path %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>作者</th>
      <th>標題</th>
      <th>標籤</th>
      <th>開始時間</th>
      <th>結束時間</th>
      <th>狀態</th>
      <th>優先順序</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td></td>
        <td><%= link_to mission.title, mission_path(mission) %></td>
        <td><%= mission.tag %></td>
        <td><%= mission.start_at %></td>
        <td><%= mission.end_at %></td>
        <td><%= mission.status %></td>
        <td><%= Mission.priorities.key(mission.priority.to_i) %></td>
        <td><%= link_to "編輯", edit_mission_path(mission) %></td>
        <td><%= link_to "刪除", mission_path(mission), method: "delete", data: {confirm: "是否確定刪除？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
