<h1 class="mb-3 text-center fw-bold"><%= t("mission_list") %></h1>

<div>
  <%= link_to t("new_mission"),  new_mission_path, class: "btn btn-danger my-3" %>
</div>

<div class="d-flex align-items-center">
  <%= search_form_for @q, class: "flex-grow-1" do |f| %>
    <div class="input-group my-3">
      <%= f.label t("title"), class: "input-group-text" %>
      <%= f.search_field :title_cont, class: "form-control" %>
      <%= f.label t("tag"), class: "input-group-text" %>
      <%= f.search_field :tags_name_cont, class: "form-control" %>
      <%= f.label t("status"), class: "input-group-text" %>
      <%= f.select :status_eq, Mission.statuses.map { |k,v| [Mission.statuses_i18n[k], v] }, { include_blank: ""}, class: "form-select" %>
      <%= f.submit class: "btn btn-secondary" %>
    </div>
  <% end %>
  <%= link_to t("cancel_search"), missions_path, class: "btn btn-outline-secondary mx-2" %>
</div>


<table class="table table-hover text-center">
  <thead>
    <tr>
      <th><%= t("author") %></th>
      <th><%= t("title") %></th>
      <th><%= t("tag") %></th>
      <th><%= sort_link(@q, :start_at, t("start_at"), {}, id: "sortStartAt") %></th>
      <th><%= sort_link(@q, :end_at, t("end_at"), {}, id: "sortEndAt") %></th>
      <th><%= t("status") %></th>
      <th><%= sort_link(@q, :priority, t("priority"), {}, id: "sortPriority") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.user.email %></td>
        <td><%= link_to mission.title, mission_path(mission), class: "text-decoration-none text-info fw-bold" %></td>
        <td><%= mission.tag_list %></td>
        <td><%= mission.start_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= mission.end_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= mission.status_i18n %></td>
        <td><%= mission.priority_i18n %></td>
        <td><%= link_to t("edit"), edit_mission_path(mission), class: "btn btn-outline-success" %></td>
        <td><%= link_to t("delete"), mission_path(mission), method: "delete", data: {confirm: t("confirm_delete")}, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="paginate">
  <%= paginate @missions %>
</div>
