<h1><%= t("mission_list") %></h1>

<div>
  <%= link_to t("new_mission"),  new_mission_path %>
</div>

<%= search_form_for @q do |f| %>
  <%= f.label t("title") %>
  <%= f.search_field :title_cont %>
  <%= f.label t("status") %>
  <%= f.select :status_eq, Mission.statuses.map { |k,v| [Mission.statuses_i18n[k], v] }, { include_blank: ""} %>
  <%= f.submit %>
<% end %>

<%= link_to t("cancel_search"), missions_path %>

<table class="table">
  <thead>
    <tr>
      <th><%= t("author") %></th>
      <th><%= t("title") %></th>
      <th><%= t("tag") %></th>
      <th><%= t("start_at") %></th>
      <th><%= sort_link(@q, :end_at, t("end_at"), {}, id: "sortEndAt") %></th>
      <th><%= t("status") %></th>
      <th><%= sort_link(@q, :priority, t("priority"), {}, id: "sortPriority") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td></td>
        <td><%= link_to mission.title, mission_path(mission) %></td>
        <td><%= mission.tag %></td>
        <td><%= mission.start_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= mission.end_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= mission.status_i18n %></td>
        <td><%= mission.priority_i18n %></td>
        <td><%= link_to t("edit"), edit_mission_path(mission) %></td>
        <td><%= link_to t("delete"), mission_path(mission), method: "delete", data: {confirm: t("confirm_delete")} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
