<% if cookies[:first_login] == "true" && @expired_missions.present? %>
  <div class="full-screen-bg">
    <div id="reminder" class="reminder-content py-4 px-5">
      <span id="closeReminderBtn">X</span>
      <span class="d-block fw-bold fs-3 text-center mb-3">下列任務結束時間已過</span>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th><%= t("title") %></th>
            <th><%= t("tag") %></th>
            <th><%= t("end_at") %></th>
          </tr>
        </thead>
        <tbody>
          <% @expired_missions.each_with_index do |mission, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= link_to mission.title, mission_path(mission), class: "text-decoration-none text-info fw-bold" %></td>
              <td><%= mission.tag_items_view.html_safe %></td>
              <td><%= mission.end_at.strftime("%Y-%m-%d %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="container">
  <%= render 'layouts/navbar' %>

  <h1 class="mb-3 text-center fw-bold"><%= t("mission_list") %></h1>

  <div>
    <%= link_to t("new_mission"),  new_mission_path, class: "btn btn-danger my-3" %>
    <%= link_to t("shared_missions"),  shared_mission_list_missions_path, class: "btn btn-outline-danger my-3" %>
  </div>

  <div class="d-flex align-items-center">
    <%= search_form_for @q, class: "flex-grow-1" do |f| %>
      <div class="input-group my-3">
        <%= f.label t("title"), class: "input-group-text" %>
        <%= f.search_field :title_cont, class: "form-control" %>
        <%= f.label t("tag"), class: "input-group-text" %>
        <%= f.search_field :tags_name_cont, class: "form-control" %>
        <%= f.label t("status"), class: "input-group-text" %>
        <%= f.select :status_eq, Mission.statuses.map { |k,v| [Mission.statuses_i18n[k], v] }, { include_blank: ""}, class: "form-select" %>
        <%= f.submit class: "btn btn-secondary" %>
      </div>
    <% end %>
    <%= link_to t("cancel_search"), missions_path, class: "btn btn-outline-secondary mx-2" %>
  </div>


  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th><%= t("title") %></th>
        <th><%= t("tag") %></th>
        <th><%= sort_link(@q, :start_at, t("start_at"), {}, id: "sortStartAt") %></th>
        <th><%= sort_link(@q, :end_at, t("end_at"), {}, id: "sortEndAt") %></th>
        <th><%= t("status") %></th>
        <th><%= sort_link(@q, :priority, t("priority"), {}, id: "sortPriority") %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @missions.each do |mission| %>
        <tr>
          <td><%= link_to mission.title, mission_path(mission), class: "text-decoration-none text-info fw-bold" %></td>
          <td><%= mission.tag_items_view.html_safe %></td>
          <td><%= mission.start_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= mission.end_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= mission.status_i18n %></td>
          <td><%= mission.priority_i18n %></td>
          <td><%= link_to t("edit"), edit_mission_path(mission), class: "btn btn-outline-primary" %></td>
          <td><%= link_to t("delete"), mission_path(mission), method: "delete", data: {confirm: t("confirm_delete")}, class: "btn btn-outline-danger" %></td>
          <td class="position-relative">
            <span id="shareMissionBtn" class="btn btn-outline-dark" data-mission-id="<%= mission.id %>"><%= t("manage_sharings") %></span>
            <div class="share-mission-content position-absolute p-3 text-start">
              <div class="d-flex flex-wrap mb-3">
                <label class="mb-2 flex-grow-1"><%= t("enter_shared_user_email") %></label>
                <input type="text" placeholder="example@example.com" class="mb-2 flex-grow-1" id="sharedUserEmail">
                  <div class="btn-group text-nowrap">
                    <span id="confirmSharedUser" class="btn btn-primary" data-mission-id="<%= mission.id %>"><%= t('confirm') %></span>
                    <span id="closeShareMissionBtn" class="btn btn-outline-primary mx-2"><%= I18n.t('cancel') %></span>
                  </div>
              </div>
              <div class="d-flex flex-wrap mb-3">
                <label class="mb-2 flex-grow-1"><%= t("enter_shared_group_code") %></label>
                <input type="text" placeholder="Ex-am_pLe" class="mb-2 flex-grow-1" id="sharedGroupCode">
                  <div class="btn-group text-nowrap">
                    <span id="confirmSharedGroup" class="btn btn-success" data-mission-id="<%= mission.id %>"><%= t('share_with_group') %></span>
                  </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="paginate">
    <%= paginate @missions %>
  </div>
</div>
