<div class="container">
  <%= render 'layouts/navbar' %>

  <h1 class="fw-bold mb-3"><%= @mission.title %></h1>

  <ul>
    <li>
      <span class="fw-bold"><%= "#{t("author")}：" %></span>
      <%= @mission.user.email[/^\w+/] %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("tag")}：" %></span>
      <%= @mission.tag_items_view.html_safe %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("status")}：" %></span>
      <%= @mission.status_i18n %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("priority")}：" %></span>
      <%= @mission.priority_i18n %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("start_at")}：" %></span>
      <%= @mission.start_at.strftime("%Y-%m-%d %H:%M") %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("end_at")}：" %></span>
      <%= @mission.end_at.strftime("%Y-%m-%d %H:%M") %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("attachment")}：" %></span>
      <% if @mission.file? %>
        <a href="<%= @mission.file.url %>" class="text-decoration-none text-secondary border border-secondary rounded px-1" target="_blank" download>
          <%= @mission.file.identifier %>
        </a>
      <% end %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("shared_users")}：" %></span>
      <%= @mission.shared_users.map(&:email).join(', ') %>
    </li>
    <li>
      <span class="fw-bold"><%= "#{t("shared_groups")}：" %></span>
      <% @mission.groups.each do |group| %>
        <%= link_to group.name, group_path(group), class: "text-decoration-none border border-primary rounded px-2 " %>
      <% end %>
    </li>
  </ul>

  <div class="border border-2 my-3 p-3">
    <%= simple_format(@mission.content) %>
  </div>

  <div>
    <%= link_to t("back_to_mission_list"), missions_path, class: "btn btn-outline-danger" %>
    <%= link_to t("back_to_group_list"), groups_path, class: "btn btn-outline-success" %>
    <% if admin? %>
      <%= link_to t("back_to_user_mission_list"), otrmbklhufma_user_path(@user), class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>
