<h1 class="fw-bold mb-3"><%= @mission.title %></h1>

<ul>
  <li>
    <span class="fw-bold"><%= "#{t("tag")}：" %></span>
    <%= @mission.tag %>
  </li>
  <li>
    <span class="fw-bold"><%= "#{t("status")}：" %></span>
    <%= @mission.status %>
  </li>
  <li>
    <span class="fw-bold"><%= "#{t("priority")}：" %></span>
    <%= @mission.priority %>
  </li>
  <li>
    <span class="fw-bold"><%= "#{t("start_at")}：" %></span>
    <%= @mission.start_at.strftime("%Y-%m-%d %H:%M") %>
  </li>
  <li>
    <span class="fw-bold"><%= "#{t("end_at")}：" %></span>
    <%= @mission.end_at.strftime("%Y-%m-%d %H:%M") %>
  </li>
</ul>

<div class="border border-2 my-3 p-3">
  <%= simple_format(@mission.content) %>
</div>

<div>
  <%= link_to t("back_to_mission_list"), missions_path, class: "btn btn-outline-primary" %>
  <% if admin? %>
    <%= link_to t("back_to_user_mission_list"), otrmbklhufma_user_path(@user), class: "btn btn-outline-secondary" %>
  <% end %>
</div>
