<!DOCTYPE html>
<html>
  <head>
    <title>EighteenBronzemen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav id="navBar" class="d-flex justify-content-between my-3">
        <div>
          <%= link_to "中文版", {language: "zh-TW"}, class: "btn btn-light" %>
          <%= link_to "English", {language: "en"}, class: "btn btn-light" %>
        </div>
        <div>
          <% if user_signed_in? %>
            <%= link_to t("admin_page"), otrmbklhufma_users_path, class: "btn btn-light" %>
            <%= link_to t("sign_out"), sign_out_sessions_path,method: "delete", class: "btn btn-light" %>
          <% end %>
        </div>
      </nav>
      <div id="notice" class="fw-bolder text-center">
        <%= notice %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
