<!DOCTYPE html>
<html>
  <head>
    <title>EighteenBronzemen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navBar">
      <%= link_to "中文版", language: "zh-TW" %>
      <%= link_to "English", language: "en" %>
    </nav>
    <div id="notice">
      <%= notice %>
    </div>
    <%= yield %>
  </body>
</html>
